<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>bookworm.customer.web</display-name>
    <description>Bookworm Customer Web</description>
    <welcome-file-list>
        <welcome-file>hoererdaten.xhtml</welcome-file>
    </welcome-file-list>
    <!--
        Context Parameters
    -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--<param-value>${project.stage}</param-value>-->
        <param-value>Development</param-value>
    </context-param>
    <!-- FaceletsResourceResolver -->
    <context-param>
        <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
        <param-value>eu.artofcoding.bookworm.common.web.jsf.FilesystemResourceResolver</param-value>
    </context-param>
    <!-- Time in seconds that facelets should be checked for changes since last request. A value of -1 disables refresh checking. -->
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>0</param-value>
    </context-param>
    <!--
        http://balusc.blogspot.de/2011/09/communication-in-jsf-20.html
        Also add JVM flag -Dorg.apache.el.parser.COERCE_TO_ZERO=false
    -->
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--
        Filters
    -->
    <filter>
        <filter-name>Encoding Filter</filter-name>
        <filter-class>eu.artofcoding.beetlejuice.web.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Encoding Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <!--
        Servlets
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!--
        Security
    -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
    <!--
        Session
    -->
    <session-config>
        <!-- container.session.timeout -->
        <!--<session-timeout>${container.session.timeout}</session-timeout>-->
        <session-timeout>60</session-timeout>
        <cookie-config>
            <name>SESSIONID</name>
            <!--<secure>true</secure>-->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <!--
        Error Pages
    -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/ViewExpiredException.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>eu.artofcoding.bookworm.customer.web.view.NoHoerernummerException</exception-type>
        <location>/NoHoerernummerException.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorCode500.xhtml</location>
    </error-page>
</web-app>
