<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p - %r [%t-%c{1}-%C{3}#%M:%L]%n%-5p - MDC:%X - %m%n"/>
        </layout>
    </appender>

    <!--
    <logger name="org.apache.camel" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>
    -->

    <logger name="eu.artofcoding" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>

</log4j:configuration>
